min_peers = 1
max_peers = 100

min_peers_seed = 1
max_peers_seed = 50

max_uploads_global = 5

check_hash = yes
directory = ~/.torrent
session = ~/.torrent/rtorrent.session

encryption = allow_incoming,try_outgoing,enable_retry

schedule = session_save,240,300,session_save=

port_range = 49164-49164
port_random = yes

dht = auto
dht_port = 6881
peer_exchange = yes

schedule = untied_directory,5,5,stop_untied=
schedule = tied_directory,5,5,start_tied=
schedule = watch_directory,5,5,load_start=~/.torrent/watch/*.torrent

